<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр файла</title>
</head>
<body>
    <h1>Просмотр файла</h1>
    
    <h2>{{ file.filename }}</h2>

    {% if file_type == 'image' %}
        <!-- Если файл изображение -->
        <img src="{{ url_for('serve_file_data', file_hash=file.hash) }}" alt="Просмотр изображения" style="max-width: 100%; height: auto;">
    {% elif file_type == 'text' %}
        <!-- Если файл текстовый -->
        <pre>{{ text_content }}</pre>
    {% elif file_type == 'pdf' %}
        <!-- Если файл PDF -->
        <embed data="{{ url_for('serve_file', file_hash=file.hash) }}" type="application/pdf" width="100%" height="600px"></embed>
    {% elif file_type == 'docx' %}
        <!-- Если файл DOCX -->
        <pre>{{ text_content }}</pre>
    {% else %}
        <!-- Если файл другого типа -->
        <p>Этот файл нельзя просмотреть. Вы можете <a href="{{ url_for('download', file_hash=file.hash) }}">скачать его</a>.</p>
    {% endif %}
    
    <hr>
    
    <!-- Ссылка для скачивания -->
    <a href="{{ url_for('download', file_hash=file.hash) }}" class="btn btn-primary">Скачать файл</a>
</body>
</html>
